.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: $color-footer-background;
  padding: 5rem 10rem;
  &__img {
    display: block;
    width: 10rem;
  }

  &__col {
  }

  &__bold {
    color: $color-text;
    margin-bottom: 2.5rem;
    font-weight: bold;
  }

  &__list {
  }

  &__item {
    list-style: none;
    margin-bottom: 1rem;
  }

  &__link {
    color: $color-footer-text;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      border-bottom: 1px solid $color-text;
    }
  }
}
